<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyMDB</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/movies/">Movies</a>
        </li>
        <li class="active">
          <a href="/directors/">Directors<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="/actors/">Actors</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<a class="btn btn-default" href="/directors/new">Add director</a>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>DOB</th>
    <th></th>
    <th></th>
    <th></th>
</tr>
<% @director.each do |director| %>
<tr>
  <td><img src="<%= director.image_url %>")</td>
  <td><%= director.name %></td>
  <td><%= director.dob %></td>
  <td><a class="btn btn-default" href="/directors/<%= director.id %>">Details</a></td>
  <td><a class="btn btn-default" href="/directors/<%= director.id %>/edit">Edit</a></td>
  <td><a class="btn btn-default" href="/delete_director/<%= director.id %>">Delete</a></td>
</tr>
<% end %>
</table>
